*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}
body{
  /* background-image: url("Free\ Image\ on\ Pixabay\ -\ Chalkboard\,\ Blackboard\,\ Learning.png"); */
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
}
h1{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.container{
   height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 0.5em;
}
.card{
  justify-content: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
   /* to vertically rotate by 180 degrees  */
  transform: rotateY(180deg);
  animation: 2s hidecard linear;
  transition: transform 0.5s;
}
@keyframes hidecard {
  0%, 70%{
transform: rotateY(0deg);
  }
  100%{
transform: rotateY(180deg);
  }
}
.card img{
  max-width: 80%;
  max-height: 80%;
  /* to transform size of images after rotation i.e. animation */
  transform: scale(0);  
  animation: 2s hideImage linear;
  transition: transform 0.5s;
}
@keyframes hideImage {
  0%, 70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
.card.active{
  transform:rotateY(0);
}
.card.active img{
  transform: scale(1);
}
.card.wrong{
  background-color: rgb(180, 33, 33);
}
.card.correct {
  background-color: rgb(48, 157, 48);
}